/*-----------------*/
/*Custom variables*/
:root{
    /*colors*/
    --clr-dark: 233, 27%, 13%;
    --clr-white: 0, 0%, 100%;
    --clr-green: 156, 73%, 46%;
    --clr-blue: 196, 100%, 50%;
    --clr-black: 0, 0%, 0%;
    /*font-size*/
    --fs-900: 4.5rem;
    --fs-800: 3.12rem;
    --fs-700: 2.011rem;
    --fs-600: 1.735rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
    --fs-300: 1.063rem;
    --fs-200: 1rem;
    --fs-100: 0.875rem;
    /*font families*/
    --font-oswald: 'Oswald', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-alfa: 'Alfa Slab One', serif;
}
/*-----------------*/
/*Media Queries*/
@media (max-width: 920px) {
    .top-header, .socials, .head-actions {
        display: none;
    }

    .logo {
        font-family: var(--font-alfa);
        font-size: var(--fs-600);
    }

    ul{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .nav-menu{
        margin-inline: 1rem;
    }

    .low-header{
        margin-inline: 1rem;
        font-size: var(--fs-500);
    }
}

@media (min-width: 920px) {
    .top-header, .socials, .head-actions {
        display: flex;
    }

    .top-header{
        justify-content: space-between;
    }

    .logo {
        font-family: var(--font-alfa);
        font-size: var(--fs-700);
    }

    .hamburger{
        display: none;
    }

    .nav-menu{
        margin-inline: 4.5rem;
    }

    ul{
        display: flex;
    }

    .low-header{
        margin-inline: 4.5rem;
        font-size: var(--fs-500);
    }
}

/*CSS reset*/
/*Box Sizing*/
*,
*::before,
*::after{
   box-sizing: border-box; 
}
/*Reset margins*/
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure{
    margin: 0;
}

ul {
    list-style: none;
    text-decoration: none;
    font-size: var(--fs-500);
}

/*Setup the body*/
body{
    line-height: 1.6;
    min-height: 100vh;
    font-family: var(--font-poppins);
    font-size: var(--fs-400);
}

header {
    width: 100%;
    background-image: url("../vectors/white-paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Make images easier to work with*/
img,
picture{
    max-width: 100%;
    display: block;
}
/*make forms easier*/
input,
button,
textarea,
select{
    font: inherit;
}
/*Make animations optional*/
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
/*-----------------*/
/*Utility classes*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.decoration-none {
    text-decoration: none;
}

.nav-menu{
    border-bottom: hsl(var(--clr-white)/0.08);
}

.text-hover:hover{
    color: hsl(var(--clr-green)) !important;
}

.pointer {
    cursor: pointer;
}

.gap{
    gap: 10px;
}

.cat-gap{
    gap: 10px;
}

.custom-top{
    margin-top: 4.2rem;
}

.body-wrapper{
    background-image: url("../vectors/white-paper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.margin-inline{
    margin-inline: 7.5rem;
}
/*-----------------*/

/*colors*/
.bg-black{
    background-color: hsl( var(--clr-black) );
}

.bg-blackish{
    background-color: hsl( var(--clr-dark) );
}

.bg-white{
    background-color: hsl( var(--clr-white) );
}

.bg-green{
    background-color: hsl( var(--clr-green) );
}

.bg-blue{
    background-color: hsl( var(--clr-blue) );
}

.text-black{
    color: hsl( var(--clr-black) );
}

.text-blackish{
    color: hsl( var(--clr-dark) );
}

.text-white{
    color: hsl( var(--clr-white) );
}

.text-green{
    color: hsl( var(--clr-green) );
}

.text-blue{
    color: hsl( var(--clr-blue) );
}

/*buttons */
.btn-view{
    border: none;
    position: relative;
    cursor: pointer;
    background-color: hsl(var(--clr-green));
    color: hsl(var(--clr-white));
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 16px;
    --border-size: 2px;
}

.btn-border-pop::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid var(--clr-green);
    z-index: -1;
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn-border-pop:hover::before,
.btn-border-pop:focus::before{
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}

.btn-background-slide::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: hsl(var(--clr-white));
    z-index: -1;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: right;

}

.btn-background-slide:hover::before,
.btn-background-slide:focus::before{
    transform: scaleX(1);
}

.btn-background-slide{
    z-index: 1;
    transition: color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.btn-background-slide:hover,
.btn-background-slide:focus{
    color: hsl(var(--clr-green));
}


.btn-view a:hover{
    color: hsl(var(--clr-green));
}

.btn-discount{
    background-color: hsl(var(--clr-blue));
    border-radius: 3px;
    padding: 3px 10px 0;
    outline: none;
    border: none;
}

.btn-new {
    background-color: hsl( var(--clr-green));
    border-radius: 3px;
    padding: 3px 10px 0;
    outline: none;
    border: none;
}

/*progress circle */
.circle-wrap {
    width: 60px; /* Reduced the size of the circle */
    height: 60px; /* Reduced the size of the circle */
    background: hsl(var(--clr-white));
    border-radius: 50%;
    border: 1px solid hsl(var(--clr-green));
}
  
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 60px; /* Reduced the size of the circle */
    height: 60px; /* Reduced the size of the circle */
    position: absolute;
    border-radius: 50%;
}
  
.mask .fill {
    clip: rect(0px, 30px, 60px, 0px); /* Adjusted the clip size */
    background-color: hsl(var(--clr-green));
}
  
.circle-wrap .circle .mask {
    clip: rect(0px, 60px, 60px, 30px); /* Adjusted the clip size */
}
  
.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}
@keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
}

.circle-wrap .inside-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsl(var(--clr-white));
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    color: hsl(var(--clr-black));
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1em;
}

.circle-container {
    position: fixed;
    bottom: 0;
    margin-inline: 1rem;
    right: 0;
    z-index: 1000;
}

.circle-container .circle {
    width: 60px;
    height: 60px;
}

.circle-container .circle .mask,
.circle-container .circle .fill {
    width: 60px;
    height: 60px;
}

.circle-container .circle .mask {
    clip: rect(0px, 60px, 60px, 30px);
}

/*Category card */

.category-card{
    position: relative;
    border-radius: 20px;
    text-align: center;
    height: auto;
    overflow: hidden;
    background-color: hsl(var(--clr-white));
    background-image: url("../vectors/category-shape.png");
    border: 1px solid hsl(var(--clr-dark));
    background-repeat: no-repeat;
}

.category-card ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--clr-green));
    clip-path: circle(40px at 90% 8%);
}

@media (min-width: 1200px) {

    .category-card {
        width: 20%;
    }
   
}

@media (max-width: 1200px) {

    .category-card {
        width: 23%;
    }
   
}

@media (max-width: 780px) {

    .category-card {
        width: 33%;
    }
   
}


@media (max-width: 500px) {

    .category-card {
        width: 43%;
    }
   
}

/*Navbar*/

.bar {
    background-color: hsl(var(--clr-black));
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
   
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navigation{
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: hsl(var(--clr-white));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*custom component */
/*search bar */

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    border: 1px solid hsl(var(--clr-green));
}

.search-bar input {
    background: transparent;
    flex: 1;
    text-align: center;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 24px 20px;
    font-size: var(--fs-400);
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

/*product card*/
.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.discount-card {
    margin-inline: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {

    .discount-card {
        width: 87%;
    }
   
}

@media (min-width: 700px) {

    .discount-card {
        width: 90%;
    }
   
}

@media (min-width: 500px) {

    .discount-card {
        width: 93%;
    }

    
    .blog-card {
        width: 93%;
    }
   
}
  
.product-card img {
    max-width: 100%;
    height: auto;
}
  
  .product-content {
    padding: 15px;
}
  
  .product-content p {
    margin-bottom: 10px;
}

  .product-badge{
    top: 0;
    right: 0;
}
  
  .button-row button {
    margin-right: 10px;
}

  .price-box{
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.product-container{
    gap: 30px;
 }


 @media (min-width: 1201px) {

    .product-card {
        width: 22%;
    }
   
}

@media (max-width: 1200px) {

    .product-card {
        width: 33%;
    }
   
}


 @media (max-width: 990px) {

    .product-card {
        width: 40%;
    }
   
}


 @media (max-width: 785px) {

    .product-card {
        width: 47%;
    }
   
}

 @media (max-width: 550px) {

    .product-card {
        width: 70%;
    }
   
}


@media (max-width: 450px) {

    .product-card {
        width: 100%;
    }
   
}


.product-container{
    justify-content: center;
   
 }

/* Owl carousel */
.carousel .card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/*Login Form*/
.form-input{
    border: 1px solid hsl(var(--clr-green));
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    border-radius: 4px;
    font-size: var(--fs-200);
}

.iti__country-list{
    display: flex;
    flex-direction: column;
}

.login-bg{
    width: 62%;
}

.faqs{
    border: 2px solid hsl(var(--clr-green));
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .login-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sign-up-text{
        font-size: var(--fs-300);
    }
}


@media (max-width: 500px) {
    .login-bg{
        display: none;
    }

    .sign-up-text{
        font-size: var(--fs-200);
    }

    .label{
        font-size: var(--fs-200);
    }
}

.login-container{
    border: 1px solid hsl(var(--clr-green));
    border-radius: 10px;
    width: 100%;
}

.login-form{
    display: flex;
    justify-content: center;
    padding-inline: 2rem;
}


.sign-up-text{
    font-size: var(--fs-200);
}

.signin-input{
    gap: 3rem;
}

.phone-container{
    display: flex;
    flex-direction: column;
}


/*Blog Card*/

.blog-card{
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-inline: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


/*Footer*/

.top-footer{
    padding-top: 2.5rem;
    padding-bottom: 1.6rem;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
}

.width {
    width: 350px;
}

.column-2{
    display: flex;
    flex-direction: column;
}

@media (max-width: 700px) {
    .top-footer{
        flex-direction: column;
        text-align: center;
    }

    .width {
        width: 100%;
    }
}

  
/*font*/
.font-default{
    font-family: var(--font-poppins);
    font-size: var(--fs-400);
    color: var(--clr-black);
}

.font-oswold{
    font-family: var(--font-oswald);
}

.fs-700{
    font-size: var(--fs-700);
}

.fs-800{
    font-size: var(--fs-800);
}

.jumbotron.text-center {
    height: 17em;
}

input.form-control.col-md-6 {
    width: 50%;
    margin-right: 1em;
    display: inline;
}

div#notes {
    margin-top: 2%;
    width: 98%;
    margin-left: 1%;
}

@media (min-width: 991px) {
	.col-md-9.col-sm-12 {
    	margin-left: 12%;
	}
}

/* Browse Page */

@media (min-width: 1000px) {
	.browse-page{
        display: flex;
    }

    .search-sec{
        width: 25%;
        margin-top: 1.5rem;
        margin-inline: 1rem;
        min-height: 100vh;
    }
    
    .display-sec{
        width: 75%;
        min-height: 100vh;
    }
    
    .browse-search{
        height: auto;
        margin-top: 0.8rem;
    }
    
    .browse-categories{
        height: auto;
        margin-top: 2rem;
    }
    
    .box-search{
        margin-inline: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
        height: auto;
    }

    .box-search-search{
        border: 2px solid hsl(var(--clr-green));
        border-radius: 8px;
        width: 60%;
        margin-inline: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        height: 60px;
    }
    
    .browse-categories-box{
        margin-inline: 0.5rem;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 1.5rem;
        border-radius: 10px;
        background-color: #fff;
        height: 40%;
    }
}

@media (max-width: 999px) {
	.browse-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search-sec{
        width: 100%;
        margin-top: 1.5rem;
    }
    
    .display-sec{
        width: 100%;
    }
    
    
    .box-search{
        margin-inline: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
    }
    
}

.box-search-search{
    border: 2px solid hsl(var(--clr-green));
    border-radius: 8px;
    width: 60%;
    margin-inline: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    height: 60px;
}

.box-search-search input {
    background: transparent;
    text-align: center;
    border: none;
    outline: none;
}

.browse-categories-box{
    margin-inline: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    height: 40%;
    padding-bottom: 1rem;
}

/*Product-View*/

@media (min-width: 780px) {
    .product-view{
        display: flex;
        flex-direction: row;
        gap: 16%;
        justify-content: center;
        margin-top: 1.5rem;
    }

    .details-box{
        border-radius: 6px;
        height: auto;
        padding: 1rem;
        width: 33%;
        border: 2px solid hsl(var(--clr-green));
    }
}


@media (max-width: 780px) {
    .product-view{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
    }

    .details-box{
        border-radius: 6px;
        width: 100%;
        height: auto;
        padding-inline: 4rem;
        margin-top: 1.5rem;
        padding: 1rem;
        border: 2px solid hsl(var(--clr-green));
    }
}


.details {
    background-color: hsl(var(--clr-white));
    border-radius: 12px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
}

